.footer {
  margin-top: 30px;

  > .seat-detail-wrapper {
    display: flex;

    > .seat-detail {
      display: flex;
      flex: 1;
      margin: 10px;
      justify-content: center;
      align-items: center;

      > .seat {
        height: 30px;
      }

      > .price-text {
        margin-bottom: 0;
        margin-left: 10px;
        flex: 5;
      }
    }
  }
}
