.header-presenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .screen-vector {
    border: 2px solid var(--app--dark-grayish-blue);
    width: 70%;
  }

  .text {
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 30px;
    font-weight: 500;

    &.movie-title {
      letter-spacing: 5px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 100;
    }
  }
}
